.center {
    text-align: center;
    padding: 10px;
    background-color: brown;
}

.play {
    font-family:'Play', serif;
    font-size: 48px;
    color: white;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}
